html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

ul,
ol {
	padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

ul,
li {
	list-style: none;
}

img {
	height: auto;
	max-width: 100%;
	display: block;
}

input,
button,
textarea,
select {
	font: inherit;
	border: none;
}

button {
	color: inherit;
	cursor: pointer;
	background-color: transparent;
	border: none;
	padding: 0;
}

a {
	color: inherit;
	text-decoration-color: transparent;
	transition: color 0.3s ease 0s;
}

address {
	font-style: normal;
}
