.burger {
	@include burger;

	@include mq("tablet-s", max) {
		display: block;
	}
}

.btn {
	border-radius: 30px;
	display: inline-block;
	color: var(--light-color);
	font-weight: 700;
	padding: 20px 80px;
	text-transform: uppercase;

	@include mq("phone", max) {
		padding: 15px 50px;
	}

	&--brown {
		background-color: var(--main-color-light);
		box-shadow: 0px 4px 20px var(--main-color-light);
		transition: background-color 0.3s ease 0s, box-shadow 0.3s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				background-color: var(--main-color-dark);
				box-shadow: 0px 4px 20px var(--main-color-dark);
			}
		}
	}

	&--grey {
		background-color: var(--grey-light-color);
		box-shadow: 0px 4px 20px var(--grey-light-color);
	}

	&--up {
		background-color: var(--light-color);
		border-radius: 50px;
		color: var(--main-color);
		font-weight: 400;
		padding: 11px 46px;
	}
}

.btn-prev,
.btn-next {
	background-color: var(--main-color-light);
	border-radius: 50%;
	position: absolute;
	width: 40px;
	height: 40px;
	top: 50%;
	transform: translateY(-50%);
	transition: background-color 0.3s ease 0s, box-shadow 0.3s ease 0s;

	@media (any-hover: hover) {
		&:hover {
			background-color: var(--main-color-dark);
			box-shadow: 0px 2px 10px rgba(155, 82, 50, 0.5);
		}
	}

	&::before {
		content: "";
		background-image: url(../images/icons/icon-arrow.svg);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		height: 14px;
		display: block;
	}
}

.btn-prev {
	&::before {
		transform: rotate(180deg);
	}
}
