.service {
	background-color: #fffefe;
	border: 1px solid var(--grey-light-color);
	border-radius: 20px;
	transition: border-color 0.3s ease 0s;
	height: 100%;

	@media (any-hover: hover) {
		&:hover {
			border-color: var(--main-color-dark);
		}
	}

	&__link {
		display: flex;
		flex-direction: column;
		height: 100%;
		padding: 24px;

		@media (any-hover: hover) {
			&:hover {
				use {
					fill: var(--main-color-dark);
					filter: drop-shadow(0px 4px 4px rgba(var(--black-color), 0.25));
					animation-name: heartBeat;
					animation-duration: 1s;
					animation-iteration-count: infinite;
				}
			}
		}
	}

	&__title {
		font-family: var(--font-family-second);
		font-weight: 400;
		font-size: 30px;
		margin-bottom: 5px;

		@include mq("phone", max) {
			font-size: 20px;
		}
	}

	&__botom {
		display: flex;
		justify-content: space-between;
		margin-top: auto;
	}

	&__quantity {
		display: block;
		font-size: 20px;
		align-self: flex-end;

		@include mq("phone", max) {
			font-size: 18px;
		}
	}

	svg {
		display: block;
		width: 110px;
		height: 110px;

		@include mq("tablet", max) {
			width: 80px;
			height: 80px;
		}

		@include mq("phone", max) {
			width: 50px;
			height: 50px;
		}

		use {
			fill: var(--main-color-light);
			box-shadow: transparent;
			transition: all 0.3s ease 0s;
		}
	}
}

.about-doctor-card {
	transition: transform 0.3s ease 0s;

	span {
		display: block;
	}

	&__link {
		display: flex;
		padding: 30px;
		width: 100%;
		height: 100%;

		@include mq("phone-s", max) {
			display: block;
			text-align: center;
			padding: 20px;
		}
	}

	&__image {
		width: 130px;
		flex-shrink: 0;
		margin-right: 20px;
		text-align: center;

		@include mq("phone-s", max) {
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 15px;
		}
	}

	&__img {
		border-radius: 100%;
		object-fit: cover;
		width: 130px;
		height: 130px;
		margin-bottom: 20px;

		@include mq("phone-s", max) {
			margin-bottom: 10px;
		}
	}

	&__experience {
		font-weight: 700;
		font-size: 15px;
		line-height: 1.3;
		color: var(--main-color-light);
	}

	&__title {
		font-size: 15px;
		color: var(--grey-color);
		margin-bottom: 10px;
	}

	&__name {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
}

.make-appointment-card {
	background-color: var(--light-color);
	border-radius: 20px;
	box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);

	&__link {
		display: block;
		border-radius: 20px;
		padding: 20px;
		transition: background-color 0.3s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				background-color: var(--main-color-light);

				.make-appointment-card__name,
				.make-appointment-card__time {
					color: var(--light-color);
				}
			}
		}
	}

	&__name {
		font-size: 24px;
		margin-bottom: 10px;
		color: var(--black-color);

		@include mq("phone", max) {
			font-size: 18px;
		}
	}

	&__time {
		color: var(--grey-color);
	}

	&__name,
	&__time {
		transition: color 0.3s ease 0s;
	}
}
