.main-title {
	color: var(--black-color);
	font-family: var(--font-family-second);
	font-weight: 400;
	font-size: 80px;
	line-height: 1.1;

	@include mq("desktop", max) {
		font-size: 60px;
	}

	@include mq("desktop-s", max) {
		font-size: 56px;
	}

	@include mq("tablet-s", max) {
		font-size: 46px;
	}

	@include mq("phone", max) {
		font-size: 36px;
	}
}

.title-block {
	font-family: var(--font-family-second);
	font-weight: 400;
	font-size: 40px;
	color: var(--black-color);

	@include mq("tablet", max) {
		font-size: 34px;
	}

	@include mq("phone", max) {
		font-size: 28px;
	}
}

.title-card {
	color: var(--black-color);
	font-family: var(--font-family-second);
	font-size: 30px;
	font-weight: 400;

	@include mq("phone", max) {
		font-size: 26px;
	}
}
